.select-button {
    width: 90%;
    height: 100px;
    font-size: 50px;
    -unity-font-style: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.select-button:hover {
    border-color: white;
    background-color: #BDFCC9;
}
